.courses-page{
max-width:850px;
}

.course-card{
background:rgba(255,255,255,0.1);
border:1px solid rgba(255,255,255,0.15);
border-radius:16px;
padding:20px;
margin:18px 0;
text-align:left;
}

.course-card h3{
font-size:24px;
margin-bottom:10px;
}

.course-card p{
font-size:17px;
line-height:1.5;
}